<!DOCTYPE html>
<html>
<head>
    <title>Heart Disease Prediction</title>
</head>
<body>

<h2>Heart Disease Prediction</h2>

<form action="/predict" method="post">

    Age: <input type="text" name="age"><br><br>
    RestingBP: <input type="text" name="bp"><br><br>
    Cholesterol: <input type="text" name="chol"><br><br>
    FastingBS: <input type="text" name="fast"><br><br>
    MaxHR: <input type="text" name="hr"><br><br>
    Oldpeak: <input type="text" name="oldpeak"><br><br>

    <button type="submit">Predict</button>
</form>

<h3>{{ prediction_text }}</h3>

</body>
</html>
